
<html class="loading" lang="en" data-textdirection="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="author" content="PIXINVENT">
  <title>管理后台</title>
  <link rel="stylesheet" type="text/css" href="/static/mb/app-assets/css/vendors.css">
  <link rel="stylesheet" type="text/css" href="/static/mb/app-assets/css/vertical-menu.css">
  <link rel="stylesheet" type="text/css" href="/static/mb/app-assets/css/bootstrap-extended.css">
</head>
<body>
<div class="content-wrapper">
      <div class="content-header ">
        <div class="content-header-left mb-2">
          <h3 class="content-header-title mb-0">控制面板</h3>
        </div>
      </div>
      <div class="content-body">
		  <div class="row clearfix">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="card">
              <div class="card-content">
                <div class="media align-items-stretch">
                  <div class="p-2 text-center bg-primary bg-darken-2">
                    <i class="fa fa-area-chart font-large-2 white"></i>
                  </div>
                  <div class="p-2 bg-gradient-x-primary white media-body">
                    <h5>用户数量</h5>
                    <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 28</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
         <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="card">
              <div class="card-content">
                <div class="media align-items-stretch">
                  <div class="p-2 text-center bg-danger bg-darken-2">
                    <i class="fa fa-file-text font-large-2 white"></i>
                  </div>
                  <div class="p-2 bg-gradient-x-danger white media-body">
                    <h5>登录次数</h5>
                    <h5 class="text-bold-400 mb-0"><i class="ft-arrow-up"></i>1,238</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="card">
              <div class="card-content">
                <div class="media align-items-stretch">
                  <div class="p-2 text-center bg-warning bg-darken-2">
                    <i class="fa fa-bar-chart font-large-2 white"></i>
                  </div>
                  <div class="p-2 bg-gradient-x-warning white media-body">
                    <h5>角色数量</h5>
                    <h5 class="text-bold-400 mb-0"><i class="ft-arrow-down"></i> 4,658</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="card">
              <div class="card-content">
                <div class="media align-items-stretch">
                  <div class="p-2 text-center bg-success bg-darken-2">
                    <i class="fa fa-line-chart font-large-2 white"></i>
                  </div>
                  <div class="p-2 bg-gradient-x-success white media-body">
                    <h5>检测次数</h5>
                    <h5 class="text-bold-400 mb-0"><i class="ft-arrow-up"></i> 5.6 M</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		  
        <img class="brand-logo" alt="stack admin logo" src="/static/首页2.jpg" width="100%">
		  
	 
		  
		  
      </div>
    </div>
	

  <script src="/static/mb/app-assets/js/vendors.min.js" type="text/javascript"></script>
  <script src="/static/mb/app-assets/js/app-menu.js" type="text/javascript"></script>
  <script src="/static/mb/app-assets/js/app.js" type="text/javascript"></script>
  <script src="/static/mb/app-assets/js/echarts.min.js" type="text/javascript"></script>
<script>

	
 

	</script>
</body>
</html>